h1 {
  color: red;
  font-size: 40px;
}

.special {
  color: orange;
  font-weight: bold;
}

ul li {
  color: blue;
  font-size: 18px;
}

p {
  font-size: 22px;
}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    color: red
}

.responsive { 
    width: 70%;
    height: 50%;
}